<a href="https://colab.research.google.com/github/AlinaSabitova/Lab1-task-1.2.1/blob/main/Untitled19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
for x in range(1, 10, 3):
  print(x)

1
4
7

In [8]:
def count_down(start_number):
  current = start_number
  while current > 0:
    print(current)
    current -= 1
  print("Zero")

count_down(3)

3
2
1
Zero

In [1]:
"big">"small"

False

In [2]:
print(11%5)

1

In [10]:
def attempts(n):
  x=1
  while x <= n:
    print("Attemt " + str(x))
    x += 1
  print("Done")

attempts(5)

Attemt 1
Attemt 2
Attemt 3
Attemt 4
Attemt 5
Done

In [14]:
import math

In [20]:
ratio = (1+(5)**(1/2))/2
print(round(ratio, 3))

1.618

In [21]:
x=0
while x < 5:
  print("Not there yet, x=" + str(x))
  x = x + 1
print("x=" + str(x))

Not there yet, x=0
Not there yet, x=1
Not there yet, x=2
Not there yet, x=3
Not there yet, x=4
x=5

In [25]:
def ptint_range(start, end):
  n = start
  while n <= end:
    print(n)
    n += 1

ptint_range(1, 5)

1
2
3
4
5

In [26]:
def sum(x, y):
      return(x+y)
print(sum(sum(1, 2), sum(3, 4)))

10

In [30]:
def votes(params):
  for vote in params:
    print("Possible option^" + vote)

votes(["yes", "no", "maybe"])

Possible option^yes
Possible option^no
Possible option^maybe

In [31]:
teams = ["Dragons", "Wolves", "Pandas", "Unicorns"]
for home_team in teams:
  for away_team in teams:
    if home_team != away_team:
      print(home_team, away_team)

Dragons Wolves
Dragons Pandas
Dragons Unicorns
Wolves Dragons
Wolves Pandas
Wolves Unicorns
Pandas Dragons
Pandas Wolves
Pandas Unicorns
Unicorns Dragons
Unicorns Wolves
Unicorns Pandas

In [32]:
def decade_counter():
  while year < 50:
    year += 10
  return year

In [33]:
for x in range(10):
  for y in range(x):
    print(y)

0
0
1
0
1
2
0
1
2
3
0
1
2
3
4
0
1
2
3
4
5
0
1
2
3
4
5
6
0
1
2
3
4
5
6
7
0
1
2
3
4
5
6
7
8

In [ ]:
#выполнила: Сабитова А.Б. АДЭУ-221

def show_letters(word):
  for i in range(1):
    print("\n" .join(word))
  
show_letters("Hello")

In [ ]:
#выполнила: Сабитова А.Б. АДЭУ-221

number = 1
while number <= 7:
  print(number, end=" ") 
  number += 1

In [ ]:
#выполнила: Сабитова А.Б. АДЭУ-221

def digits(n):
  count = 0
  if n == 0:
    count = 1
  while(n > 0):
    count += 1
    n = n // 10
  return count

print(digits(25))
print(digits(144))
print(digits(1000))
print(digits(0))

In [ ]:
#выполнила: Сабитова А.Б. АДЭУ-221

def factorial(n):
  result = 1
  for i in range(n):
    result *= i + 1
  return result

print(factorial(4))
print(factorial(5))

In [35]:
#выполнила: Сабитова А.Б. АДЭУ-221

def square(n):
  return n*n

def sum_squares(x):
  sum = 0
  for n in range(x):
    sum += n * n
  return sum

print(sum_squares(10))

285

In [ ]:
def print_prime_factors(number):
  factor = 2
  while factor <= number:
    if number % factor == 0:
      print(factor)
      number = number / factor
    else:
      factor +=1
  return "Done"

print_prime_factors(100)

In [ ]:
#выполнила: Сабитова А.Б. АДЭУ-221

def is_power_of_two(n):
  if not n == 0:
    while n % 2 == 0:
      n = n / 2
  if n == 1:
    return True
  return False
  

print(is_power_of_two(0)) 
print(is_power_of_two(1)) 
print(is_power_of_two(8)) 
print(is_power_of_two(9))