<a href="https://colab.research.google.com/github/AlinaSabitova/Lab1-task-1.2.1/blob/main/%D0%9F%D1%801_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1.2.1
class Person:
 apples = 0
 ideas = 0
johanna = Person()
johanna.apples = 1
johanna.ideas = 1
martin = Person()
martin.apples = 2
martin.ideas = 1
def exchange_apples(you, me): 
  exchanged = you.apples
  you.apples = me.apples
  me.apples = exchanged
  return you.apples, me.apples
def exchange_ideas(you, me):
  exchanged = you.ideas
  you.ideas += me.ideas
  me.ideas += exchanged
  return you.ideas, me.ideas
exchange_apples(johanna, martin)
print("Johanna has {} apples and Martin has {} apples".format(johanna.apples, martin.apples))
exchange_ideas(johanna, martin)
print("Johanna has {} ideas and Martin has {} ideas".format(johanna.ideas, martin.ideas))

Johanna has 2 apples and Martin has 2 apples
Johanna has 2 ideas and Martin has 2 ideas

In [ ]:
# 1.2.2
class City:
 name = ""
 country = ""
 elevation = 0
 population = 0 
city1 = City()
city1.name = "Cusco"
city1.country = "Peru"
city1.elevation = 3399
city1.population = 358052 
city2 = City()
city2.name = "Sofia"
city2.country = "Bulgaria"
city2.elevation = 2290
city2.population = 1241675 
city3 = City()
city3.name = "Seoul"
city3.country = "South Korea"
city3.elevation = 38
city3.population = 9733509
def max_elevation_city(min_population): 

  return_city = City() 
  if ___
    return_city = ___ 
  if ___
    return_city = ___ 
  if ___
    return_city = ___ 
  if return_city.name:
    return ___
  else:
    return ""
print(max_elevation_city(100000))
# Вывод на экран "Cusco, Peru"
print(max_elevation_city(1000000))
# Вывод на экран "Sofia, Bulgaria"
print(max_elevation_city(10000000))
# Вывод на экран ""

In [ ]:
# 1.2.3